<h1>Listing Events</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <div class="container">
            <ul class="nav events">
              <th>Name</th>
              <th>Date</th>
              <th>Description</th>
              <th>Image</th>
              <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @mainevents.each do |mainevent| %>
          <tr>
            <td><%= mainevent.name %></td>
            <td><%= mainevent.date %></td>
            <td><%= mainevent.description %></td>
            <td><%= image_tag mainevent.image %></td>
            <td><%= link_to 'Show', mainevent %></td>
            <td><%= link_to 'Edit', edit_mainevent_path(mainevent) %></td>
            <td><%= link_to 'Destroy', mainevent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Mainevent', new_mainevent_path %>
